/*
Media Query Breakpoints:
*320-480px mobile
*481-768px ipad
*769-1024px: laptops
*1025-1200px: desktop, large screen
*1201px+ larger tvs and screens
*/

:root {
    --background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    --youtube: darkred;
    --linkedin: darkblue;
    --itch: brown;
    --twitter: lightblue;
}

body {
    background: var(--background);  
    text-align: center;
}

a.social {
    text-decoration: none;
    transition: color .25s;
    padding-top: 1px;
    padding: 0;
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 28px;
}

a.social:hover {
    color : #515151;
    text-shadow: 1px 1px black;
}

#youtube {
    color : var(--youtube);  
}

#itch {
    color : var(--itch);
}

#linkedin {
    color : var(--linkedin);
}

#twitter {
    color : var(--twitter);
}


.title {
    text-align: center;
    font-family: 'IM Fell Great Primer';
    color : #f2f2f2;
    text-decoration: none; 
    transition: color .25s;
    font-size: 65px;
    font-weight: 500;
    margin-top: 2rem;
    padding-top: 1rem;
    line-height: 1.2em;
    background-color: transparent;
    border: 0;
    padding: 0;

    margin: 0;
}

.subtitle {
    text-align: center;
    font-family: 'IM Fell Great Primer';
    color : #d7d7d7;
    transition: color .25s;
    text-decoration: none; 
    font-size: 15px;
    font-weight: 750;
    margin-top: 0%;
    padding-top: 0%;
    border-radius: 0;
    line-height: 0em;
    position: relative;
    bottom: 0;
}

.title-bar {
    height: 5%;
}

.title:hover {
    color : #515151;
    text-shadow: 1px 1px black;
}


.tab {
    transition: color .25s;
    /*transition: background-color .5s;*/
    font-family: 'IM Fell Great Primer';
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: .15rem .5rem;
    text-decoration: none;
    font-size: 28px;
    background-image: none;
    border: 0;
    background-color: transparent;
    border-radius: .25rem;
    

}


.tab:active {
    color: #515151;
    text-shadow: 0.5px 0.5px black;
    background-color: rgb(70, 70, 70);

}

.footerButton:hover,
.tab:hover {
    color: #515151;
    text-shadow: 0.5px 0.5px black;
    background-color: gray;

}

.page {
    position: relative;
    width: auto;
    margin: auto;
    top: 0;
    left: 0;
}

iframe {
    width: inherit;
    margin: inherit;

    padding: .1rem;
}

.html5-video-player {
    position: relative;
    width: auto;
    margin: auto;   
    display: inline-block;
}

.auto-resizable-iframe {
    max-width: inherit;
    margin: auto;
  }

.main {
    position: relative;
    width: 90%;
    margin: auto;
    background-color: #54b3d6;
    height: 100%;
}

#threeCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index:-1;
 }

 .footer {
    text-decoration: none;
    position:fixed;
    left:0px;
    bottom:25px;
    height:30px;
    width: 100%;
    color: whitesmoke;
  
 }



 .footerButton {
     font-weight: 900;
    font-family: 'IM Fell Great Primer';
    border: none;
    background-color: inherit;
    padding: 14px 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;  
    color: whitesmoke; 
    transition: color .25s;
 }

 
.jittery span {
    animation: jitter 200ms linear infinite;
    color: #f06d06;
    display: inline-block;
}
@keyframes jitter {
    50% {
      transform: skewY(0.7deg) skewX(-0.7deg) scale(1.006);
    }
}
 /*
 * html #footer {
    position: absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) + 'px');
 }
 */