/*
Media Query Breakpoints:
*320-480px mobile
*481-768px ipad
*769-1024px: laptops
*1025-1200px: desktop, large screen
*1201px+ larger tvs and screens
*/

body {
    background-color: #949494;  
    background: canvas(threeCanvas);
    text-align: center;
}

a.social {
    text-decoration: none;
    transition: color .25s;
    padding-top: 1px;
    padding: 0;
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 28px;
}

a.social:hover {
    color : #515151;
    text-shadow: 0.5px 0.5px black;
}

a.title {
    text-align: center;
    font-family: 'IM Fell Great Primer';
    color : #f2f2f2;
    text-decoration: none; 
    transition: color .25s;
    font-size: 65px;
    font-weight: 500;
    margin-top: 2rem;
    padding-top: 1rem;
    line-height: 1.2em;
}

a.subtitle {
    text-align: center;
    font-family: 'IM Fell Great Primer';
    color : #adadad;
    transition: color .25s;
    text-decoration: none; 
    font-size: 15px;
    font-weight: 750;
    margin-top: 0%;
    padding-top: 0%;
    line-height: 0em;
}

a.title:hover {
    color : #515151;
    text-shadow: 1px 1px black;
}

a.nav {
    text-decoration: none; 
}

.nav {
    transition: color .25s;
    font-family: 'IM Fell Great Primer';
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    
}

.footerButton:hover,
.nav:hover {
    color: #515151;
    text-shadow: 0.5px 0.5px black;

}

.main {
    width: 550px;
    height: 2000px;
    border: 1px solid gray;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;   
    margin-top: 5px;  
    top: 50%;
    bottom: 50%;
    background-color: #54b3d6;
}

#threeCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index:-1;
 }

 .footer {
    text-decoration: none;
    position:fixed;
    left:0px;
    bottom:25px;
    height:30px;
    width: 100%;
    color: whitesmoke;
  
 }



 .footerButton {
     font-weight: 900;
    font-family: 'IM Fell Great Primer';
    border: none;
    background-color: inherit;
    padding: 14px 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;  
    color: whitesmoke; 
    transition: color .25s;
 }

 
.jittery span {
    animation: jitter 200ms linear infinite;
    color: #f06d06;
    display: inline-block;
}
@keyframes jitter {
    50% {
      transform: skewY(0.7deg) skewX(-0.7deg) scale(1.006);
    }
}
 /*
 * html #footer {
    position: absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) + 'px');
 }
 */