/*
Media Query Breakpoints:
*320-480px mobile
*481-768px ipad
*769-1024px: laptops
*1025-1200px: desktop, large screen
*1201px+ larger tvs and screens
*/

:root {
    --fontA: font-family: 'IM Fell Great Primer';

    --white: #f2f2f2;
    --background-page: linear-gradient(to right,rgba(255,255,255,0), rgba(0,0,0,.35),rgba(255,255,255,0));
    /*--background-page: radial-gradient(circle, rgba(63,94,251,.5) 0%, rgba(252,70,107,.5) 100%);*/
    --background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    --youtube: darkred;
    --linkedin: darkblue;
    --itch: brown;
    --twitter: lightblue;
}



h1,h2,h3,p, figcaption {
    font-family: 'IM Fell Great Primer';
    color: whitesmoke;
}

.page img {
    position: relative;
    display: inline-block;
    border-radius: 2vw;
    
    padding: .25rem;
    margin: .1rem;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    max-width:100%;
}

figure img #language-logo {
    margin: auto;
    border-radius: 0;
}



figure img {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

#game-logo figure img  {
    display: inline-block;
    border-radius: 0;
    
}

#language-logo figure {
    margin: 0;
    padding: 0;
}

#game-logo figure {
    margin: 0;
    padding: 0;
}

figure {
    display: inline-block;
    text-align: center;
    min-width: 60px;
    padding: 0;
    margin: .75rem;
}

figcaption {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

html, body {
    background: var(--background) repeat;  
    
    background-size: 150% 150%;

    animation: gradient 6s ease infinite;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    /*height: 80vh;*/
}

body { 
    text-align: center;
    margin: 0;
    padding: 0;
}

.social-container {
    
    bottom: 0;
    padding: 0;
    margin: 0;
    display: flexbox;
  
}



a.social {
    display:inline-block;
    position: relative;
    text-decoration: none;
    transition: color .25s;
    padding-top: 1px;
    padding: 0.25rem;
    color: rgba(255, 255, 255, .55); /* #f2f2f2;*/
    text-align: center;
   
    text-decoration: none;
    height: auto;
    width: auto;
    margin: auto;
    

}

a.social:hover {
    color : #515151;
    text-shadow: 1px 1px black;
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-name: text-shadow;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    
    /*animation: bounce 2s infinite alternate;*/
}

/*
header:hover {
    color : #515151;
    text-shadow: 1px 1px black;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: text-shadow;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;   
}
*/
  
@keyframes text-shadow {

    
    from {
        -webkit-filter: drop-shadow(1px 1px 1px #222);
        filter: drop-shadow(1px 1px 1px #222);
    }
  
    to {
        -webkit-filter: drop-shadow(4px 4px 4px #222);
        filter: drop-shadow(4px 4px 4px #222);
    }
}


#youtube.social:hover  {
    color : var(--youtube);  
}

#itch.social:hover   {
    color : var(--itch);
}

#linkedin.social:hover   {
    color : var(--linkedin);
}

#twitter.social:hover {
    color : var(--twitter);
}

.title-bar {
    display:inline-block;
    height: 25%;
}

.title {
    text-align: center;
    font-family: 'IM Fell Great Primer';
    color : #f2f2f2;
    text-decoration: none; 
    transition: color .25s;

    font-size: 3vw;

    font-weight: 500;
    background-color: transparent;
    border: 0;
    padding-top: auto;
    padding-bottom: auto;
    display: inline-block;
    margin: auto;
}

section {
    display: block;
  }



@media screen and (max-aspect-ratio: 3/1) {
    .title {
        font-size: 3.3rem;
        float: none;
    }
    #navigation {
        display: inline-block;
        width: auto;
        margin: auto;
        padding: .1rem;
    }

    .tab {
        font-size:  calc(clamp(1.5rem,3vw,2.2rem));
    }
    a.social {
        font-size: calc(clamp(3rem,4rem,5rem));
    }

    .page {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .page p {
        /*width: 95%;*/
        /*padding: 0.25rem;
        margin: 0.25rem;*/
    }
    
}

/*

@media screen and (max-width: 400px)  {
    .title {
        font-size: 3rem;
        float: none;
    }
    #navigation {
        display: inline-block;
        width: auto;
        margin: auto;
        padding: .1rem;
    }

    a.social {
        font-size: calc(clamp(3rem,4rem,3rem));
    }


    
}
*/

@media screen and (min-width: 600px)  {
    .title {
        font-size:  calc(clamp(2rem,6.5vw,4rem));
        float: left;
        align-items: center;
    }

    .tab {
        font-size:  calc(clamp(2rem,3vw,4rem));
        float: left;
    }
    
    #navigation {
        margin: auto auto;
    }

    a.social {  
        font-size: calc(clamp(2rem,3rem,5rem));
    }
}

.subtitle {
    /*text-align: center;*/
    font-family: 'IM Fell Great Primer';
    color : #d7d7d7;
    transition: color .25s;
    text-decoration: none; 
    font-size: 15px;
    font-weight: 750;
    margin-top: 0%;
    padding-top: 0%;
    border-radius: 0;
    line-height: 0em;
    position: relative;
    height: inherit;
    float: left;
    padding-left: 15px;
    
    font-size:  calc(6vw/4);

    display:inline-block;
}



.title:hover {
    color : #aeaeae;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}


.tab {
    transition: color .25s;
    /*transition: background-color .5s;*/
    font-family: 'IM Fell Great Primer';
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 0 0;
    margin: .15rem .25rem;
    text-decoration: none;
    font-size: 28px;
    background-image: none;
    border: 0;
    background-color: transparent;
    border-radius: .25rem;

    display: inline-block;

}


.tab:active {
    color: #515151;
    text-shadow: 0.5px 0.5px black;
    background-color: rgb(70, 70, 70);

}

.footerButton:hover,
.tab:hover {
    /*color: #515151;*/
    /*text-shadow: 0.5px 0.5px black;*/
    background: rgb(255,255,255);
    background: rgba(0,0,0,.15)

}

header {
    display: inline-flex;
    align-items: center; /* vertical */
    flex-flow: row wrap;  
    justify-content: space-around;
    padding: .2rem;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

#over-image {
    -webkit-filter:  drop-shadow(0 0 50px -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 100%));
    filter: drop-shadow(0px 1px 4px black) drop-shadow(0px 1px 3px black);/*  drop-shadow(0 0 25px radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 100%));*/
    
    backdrop-filter: blur(2px) saturate(70%) ; 
    -webkit-backdrop-filter: blur(2px) saturate(70%);
}

.page p {
    margin: auto;
    width: auto;
    padding: 0;
    min-width: 200px;
    max-width: 1200px;
    color: whitesmoke;
    font-family: 'IM Fell Great Primer';
    text-align: left;
    font-size: calc(clamp(.35rem,3vw,1.15rem));

    
    border-radius: 2px; 
}

.page {
    display: grid;
    position: relative;
    max-width: 1000px;
    /*width: 65%;*/
    
    /*height: 90%;*/
    /*margin-left: 25%;
    margin-right: 25%;*/
    /*top: 0;
    left: 0;*/
    clip-path:fill-box;
    /*overflow-y: scroll;*/
    /*background-color: rgba(1,1,1,.5);*/
   
}



.about-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#about-left {
    grid-column: 1;
}
#about-center {
    grid-column: 2;
}
#about-right {
    grid-column: 3;
}


* {
    scrollbar-width: 0;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }

*::-webkit-scrollbar {
    width: 0;
    scrollbar-width: thin;
    border-radius: 0;
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    
}


   
*::-webkit-scrollbar-thumb {
    scrollbar-color: red red;
    border-radius: 5px; 
    /*scrollbar-color: rgb(63,94,251);
    scrollbar-color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%) radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    */
    /*outline: 1px solid rgba(100,100,100,.5);*/

    /*scrollbar-color: rgba(63,94,251,1);*/
}




.page.expanded {
    pointer-events: all;
    transition: all .5s;
    top: 0;
    opacity: 100%;
    position: relative;
    display: inline-block;

    
}

.page.collapsed {
    pointer-events: none;
    /*transition: all .5s;*/
    opacity: 0%;
    margin: auto;
    position:absolute;

   
}


#all {
    width: 100%;
    height: 100%;
}


iframe {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    height: fit-content;
    margin: 1rem;
    border-radius:  2vw;
    padding: .25rem;
    aspect-ratio: 16 / 9;
    width: 75%;
    max-width: 100%;
    
    display: inline-block;
}

.html5-video-player {
    border-radius: 2vw;
    position: relative;
    width: auto;
    margin: auto;   
    display: inline-block;
}

.auto-resizable-iframe {
    max-width: inherit;
    margin: auto;
  }

.main {

    border-radius:  2vw;
    position: relative;
    width: 100%;
    padding: 0;
    margin: auto;
    background-color: #54b3d6;
    background: var(--background-page);
   /* padding-top: 1rem;
    margin-top: 4px;*/
    border-width: 1rem;
    border-color: #f06d06;
    border: 1rem;
    height: 75vh;
    height:100%;
    /*max-height: 75%;*/
    overflow-y: scroll;
   
}



 .footer {
    text-decoration: none;
    position:fixed;
    left:0px;
    bottom:0px;
    /*height:calc(1vh/1vw);*/
    width: 100%;
    color: whitesmoke;
    display: inline-block;
    min-height: 5%;
 }



 .footerButton {
    font-weight: 900;
    font-family: 'IM Fell Great Primer';
    border: none;
    background-color: inherit;
    /*padding: 14px 5px;*/
    font-size: 16px;
    cursor: pointer;
    display: inline-block;  
    color: whitesmoke; 
    transition: color .25s;
 }


.jittery span {
    animation: jitter 200ms linear infinite;
    display: inline-block;
}

@keyframes jitter { 
    50%{transform:skewY(2deg) skewX(-2deg) scale(1.006);
    } 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
